.cent{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cent > .goggle{
    display: flex;
    gap: 5px;
    width: 20%;
    border: 1px solid black;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}
.cent > span{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}
