.inputOption{
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: gray;
    padding: 10px;
    cursor: pointer;
}
.inputOption :hover{
    color: lightgrey;
    border-radius: 10px;
}
.inputOption > h4{
    margin-left: 5px;
}
@media(max-width:450px){
    .inputOption{
        display: flex;
        flex-direction: column;
    }
    /* .inputOption > h4{
        display: none;
    } */

}

@media(max-width:380px){
.inputOption > .icons{
    width: 30px;
}    
.inputOption > h4{
    display: none;
}
}